*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.fruits{
    display: flex;
   
    flex-wrap: wrap;
}
.sizeFruit{
    width: 250px;
    height: 250px;
}
.textFruit{
    text-align: center;
}